
.time_link{
    display: flex;
    justify-content: space-between;
    margin: 25px 32px;
}

.content_comment{
    display: flex;
    justify-content:space-between;
    margin: 0 32px;
}
.link_modal{
    margin: 0 33px;
}
.time__comment{
    display: flex;
    background-color: rgb(233 236 239 / 82%);
    justify-content: center;
}
.title{
    width: 90px;
    text-align: center;
    align-items: center;
    margin: auto;
}
.time__comment_item{
    display: flex;
    background-color: #fff;
    margin: 10px 10px;
    
}
.btn_time{
    width: 48px;
    border-radius: inherit;
}
.modal-footer{
    display: flex;
    justify-content:space-around;
}
.btn_footer{
    width: 40%;
}
.dropdown_comment{
    background-color: rgb(233 236 239 / 82%);
    color: black;
}
.dropdown_comment:hover{
    background-color: rgb(233 236 239 / 82%);
    color: black;
}
.dropdown_comment :focus{
    outline: none;
}
.modal-lg{
    max-width: 650px;
}
.time_content{
    margin: 0 48px 0px 32px;
}

@media (max-width: 450px){
    .modal-body {
        overflow: scroll;
        
    }
}

